root = true

[*.cs]
dotnet_diagnostic.UNT0001.severity = warning
dotnet_diagnostic.UNT0002.severity = warning
dotnet_diagnostic.UNT0003.severity = warning
dotnet_diagnostic.UNT0004.severity = warning
dotnet_diagnostic.UNT0005.severity = warning
dotnet_diagnostic.UNT0006.severity = warning
dotnet_diagnostic.UNT0007.severity = warning
dotnet_diagnostic.UNT0008.severity = warning
dotnet_diagnostic.UNT0009.severity = warning
dotnet_diagnostic.UNT0010.severity = warning
dotnet_diagnostic.UNT0011.severity = warning
dotnet_diagnostic.UNT0012.severity = warning
dotnet_diagnostic.UNT0013.severity = warning
dotnet_diagnostic.UNT0014.severity = warning
dotnet_diagnostic.UNT0015.severity = warning
dotnet_diagnostic.UNT0016.severity = warning
dotnet_diagnostic.UNT0017.severity = warning
dotnet_diagnostic.UNT0018.severity = warning
dotnet_diagnostic.UNT0019.severity = warning
dotnet_diagnostic.UNT0020.severity = warning
dotnet_diagnostic.UNT0021.severity = warning
dotnet_diagnostic.UNT0022.severity = warning
dotnet_diagnostic.UNT0023.severity = warning
dotnet_diagnostic.UNT0024.severity = warning
dotnet_diagnostic.UNT0025.severity = warning
dotnet_diagnostic.UNT0026.severity = warning
dotnet_diagnostic.UNT0027.severity = warning
dotnet_diagnostic.UNT0028.severity = warning
dotnet_diagnostic.UNT0029.severity = warning
dotnet_diagnostic.UNT0030.severity = warning
dotnet_diagnostic.UNT0031.severity = warning
dotnet_diagnostic.UNT0032.severity = warning
dotnet_diagnostic.UNT0033.severity = warning
dotnet_diagnostic.UNT0034.severity = warning
dotnet_diagnostic.UNT0035.severity = warning
dotnet_diagnostic.UNT0036.severity = warning
dotnet_diagnostic.UNT0037.severity = warning
dotnet_diagnostic.UNT0038.severity = warning
dotnet_diagnostic.UNT0039.severity = suggestion
dotnet_diagnostic.UNT0040.severity = warning
dotnet_diagnostic.UNT0041.severity = warning
dotnet_diagnostic.UNT0042.severity = warning

csharp_style_expression_bodied_methods = when_on_single_line:suggestion

dotnet_analyzer_diagnostic.category-Style.severity = warning

# Add missing cases to switch statement
dotnet_diagnostic.IDE0010.severity = suggestion

# Use expression body for methods
dotnet_diagnostic.IDE0022.severity = suggestion

# Remove unnecessary expression value
dotnet_diagnostic.IDE0058.severity = silent

# Add missing cases to switch expression
dotnet_diagnostic.IDE0072.severity = suggestion

# Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = suggestion

# Use primary constructor
dotnet_diagnostic.IDE0290.severity = suggestion


[*.{csproj,csproj.user,props,targets}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
tab_width = 4
