name: Build SiraUtil

on:
  push:
    branches: [ master ]
    paths: 
      - 'SiraUtil/**'
      - '.github/workflows/main.yml'
  pull_request:
    branches: [ master ]
    paths:  
      - 'SiraUtil/**'
      - '.github/workflows/main.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: GetStrippedRefs
      env:
        FILES_URL: ${{ secrets.BSFILES_URL }}
      run: wget --no-check-certificate "$FILES_URL" -q -O bsfiles.zip
    - name: ExtractRefs
      run: unzip -q -n bsfiles.zip -d ./Refs
    - name: Build
      id: Build
      env: 
        FrameworkPathOverride: /usr/lib/mono/4.7.2-api
      run: dotnet build --configuration Release
    - name: Echo Filename
      run: echo "$BUILDTEXT ($ASSEMBLYNAME)"
      env:
        BUILDTEXT: Filename=${{ steps.Build.outputs.filename }}
        ASSEMBLYNAME: AssemblyName=${{ steps.Build.outputs.assemblyname }}
    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      with:
        name: ${{ steps.Build.outputs.filename }}
        path: ./SiraUtil/bin/Release/Final
    - name: CopyPDB
      working-directory: ./SiraUtil/bin/Release
      run: cp ${{ steps.Build.outputs.assemblyname }}.pdb Final/Plugins/${{ steps.Build.outputs.assemblyname }}.pdb
    - name: Upload Artifact With PDB
      uses: actions/upload-artifact@v1
      with:
        name: ${{ steps.Build.outputs.filename }}_WithPDB
        path: ./SiraUtil/bin/Release/Final
    - name: Generate Docs
      uses: nikeee/docfx-action@v1.0.0
      with:
        args: docs/docfx.json
    - name: Upload Docs
      uses: maxheld83/ghpages@master
      env:
        BUILD_DIR: _site
        GH_PAT: ${{ secrets.GH_PAT }}
